version: "3.9"

services:
  pdf-api:
    container_name: pdf_extractor_api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    volumes:
      - ./app:/app
    working_dir: /app
    restart: unless-stopped
    environment:
      - FLASK_ENV=production
